//
// Fonts
// --------------------------------------------------

@font-face {
  font-family: 'Zuume Black';
  src: url('../../assets/fonts/Zuume-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
